{
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "plugins": [
        "json",
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "max-len": [
            1,
            {
                "code": 80,
                "tabWidth": 2
            }
        ],
        "@typescript-eslint/explicit-member-accessibility": [
            0
        ],
        "@typescript-eslint/explicit-function-return-type": [
            0
        ],
        "@typescript-eslint/interface-name-prefix": [
            1,
            "always"
        ],
        "@typescript-eslint/no-non-null-assertion": [
            0
        ],
        "@typescript-eslint/camelcase": [
            0
        ],
        "@typescript-eslint/no-unused-vars": [
            2,
            {
                "args": "none"
            }
        ],
        "@typescript-eslint/no-var-requires": [
            0
        ],
        "@typescript-eslint/no-explicit-any": [
            2
        ],
        "react/prop-types": [
            0
        ],
        "no-console": [
            0
        ],
        "no-var": [
            2
        ]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "globals": {
        "console": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".d.ts",
                    ".ts",
                    ".tsx",
                    ".js",
                    ".jsx",
                    ".mjs"
                ]
            }
        }
    }
}